<!DOCTYPE html>
<html lang="en">
	<head>
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
		<!--Ne pas oublier de remplacer par le fichier bootstrap sur le web-->
		<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}"> 
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/styles.css') }}">
	</head>
	<body>
		<div class="container">
		<div class="row banner">
			<div class="col-sm-10">
				<h1>CATALOG APP</h1>
			</div>
			<div class="col-sm-2">
				{% if session['logged_in'] %}
				<a href="/logout"><button type="submit" value="Log Out">Log Out</button></a>
				{% else %}
				<a href="/register"><button type="submit" value="Register">Register</button></a>
				<a href="/signin"><button type="submit" value="Sign In">Sign In</button></a>
				{% endif %}
			</div>
		</div>
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>